.todo-boards {
  .container {
    padding: 25px 0px;
    .boards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      &-item {
        display: flex;
        flex-direction: column;
        align-self: baseline;
        max-width: 300px;
        width: 100%;
        background-color: $bg_boards;
        padding: 10px;
        transition: 0.3s all ease;
        border-radius: 5px;
        margin: 0 15px;
        &-name {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: $_20px;
          font-weight: bold;
          .title {
            padding: 5px;
            color: $text_white;
            text-align: left;
          }
          .todo-count {
            color: $text_white;
          }
        }
        .list {
          min-height: 17vh;
          max-height: 75vh;
          overflow-y: auto;
          &-item {
            background-color: $bg_todo_items;
            border-radius: 5px;
            padding: 7px;
            text-align: center;
            margin: 4px 0;
            cursor: pointer;
            font-weight: 400;
            font-size: $_14px;
            outline: none;
            border: none;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            &-title {
              margin-bottom: 7px;
              font-weight: bold;
              text-align: left;
              font-size: $_18px;
            }
            &-description {
              text-align: left;
              margin-bottom: 7px;
              height: 65px;
              overflow-y: auto;
            }
            &-info {
              display: flex;
              justify-content: space-between;
              font-size: $_12px;
              font-weight: bold;
              margin-bottom: 5px;
            }
            &-actions {
              display: flex;
              justify-content: end;
              height: 20px;
              .list-item-edit {
                cursor: pointer;
                border-radius: 5px;
                border: 1px solid $todo_items_btn_border;
                padding: 2px 5px;
                font-weight: bold;
                &:hover {
                  background: $bg_todo_items_btn_hover;
                }
              }
              .list-item-delete {
                margin-left: 10px;
                cursor: pointer;
                border-radius: 5px;
                padding: 2px 5px;
                border: 1px solid $todo_items_btn_border;
                font-weight: bold;
                &:hover {
                  background: $bg_todo_items_btn_hover;
                }
              }
            }
          }
        }
        .add-btn,
        .delete-all-btn {
          height: 30px;
          background: $bg_boards_btn;
          border-radius: 5px;
          margin-top: 5px;
          display: flex;
          align-items: center;
          padding-left: 10px;
          color: $text_white;
          cursor: pointer;
          font-size: $_18px;
          font-weight: bold;
          transition: 0.2s;
          &:hover {
            background: $bg_boards_btn_hover;
          }
          span {
            margin-right: 10px;
            color: $text_white;
          }
        }
      }
    }
  }
}

.hidden-state {
  display: none !important;
}
