.header {
  .container {
    padding: 5px 5px;
    .header-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $bg_header;
      border-radius: 5px;
      padding: 15px;
      .header-logo {
        width: 160px;
        height: 45px;
        img {
          height: 100%;
        }
      }
      .header-clock {
        background-color: $bg_clock;
        padding: 5px 10px;
        border-radius: 5px;
        .clock {
          font-size: $_16px;
          font-weight: bold;
        }
      }
    }
  }
}
