@import 'variables/fontsizes.scss';
@import 'variables/colors.scss';
@import 'mixins/todoButton.scss';
@import 'mixins/popupButton.scss';
@import 'boards.scss';
@import 'header.scss';
@import 'popupTodo.scss';
@import 'warningPopup.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: url('../img/bg.jpg') center / cover no-repeat;
  width: 100vw;
  height: 100vh;
  @media (max-width: 600px) {
    justify-content: center;
    height: 100%;
  }
}

.container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: auto;
}

html {
  @media (max-width: 1024px) {
    font-size: 14px;
  }
  @media (max-width: 900px) {
    font-size: 13px;
  }
  @media (max-width: 768px) {
    font-size: 11px;
  }
  @media (max-width: 600px) {
    font-size: 10px;
  }
}
