.todo-boards {
  .container {
    padding: 25px 0px;
    .boards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      &__item {
        display: flex;
        flex-direction: column;
        align-self: baseline;
        max-width: 300px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        transition: 0.3s all ease;
        border-radius: 5px;
        margin: 0 15px;
        &-name {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .title {
            padding: 5px;
            color: white;
            text-align: left;
          }
          .todo-count {
            color: white;
          }
        }
        .list {
          min-height: 20vh;
          max-height: 75vh;
          overflow-y: auto;
          &__item {
            background-color: #fefefe;
            border-radius: 5px;
            padding: 7px;
            text-align: center;
            margin: 4px 0;
            cursor: pointer;
            font-weight: 400;
            font-size: 14px;
            outline: none;
            border: none;
            // height: 190px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            &-title {
              margin-bottom: 7px;
              font-weight: bold;
              text-align: left;
              font-size: 18px;
            }
            &-description {
              text-align: left;
              margin-bottom: 7px;
              height: 80px;
              overflow-y: auto;
            }
            &-info {
              display: flex;
              justify-content: space-between;
              font-size: 12px;
              font-weight: bold;
              margin-bottom: 5px;
            }
            &-actions {
              display: flex;
              justify-content: end;
              .list__item-edit {
                cursor: pointer;
                border-radius: 5px;
                border: 1px solid #8f7d7d66;
                padding: 2px 5px;
              }
              .list__item-delete {
                margin-left: 10px;
                cursor: pointer;
                border-radius: 5px;
                padding: 2px 5px;
                border: 1px solid #8f7d7d66;
              }
            }
          }
        }
        .form {
          border-radius: 5px;
          margin-top: auto;
          .textarea {
            resize: none;
            height: 60px;
            border-radius: 5px;
            border: none;
            background: white;
            padding: 10px;
            width: 100%;
            &:focus {
              outline: none;
            }
          }
          .buttons {
            display: flex;
            .add__item-btn {
              background: rgb(13, 136, 218);
              border: none;
              height: 35px;
              cursor: pointer;
              color: white;
              border-radius: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              margin-right: 10px;
            }
            .cancel__item-btn {
              padding: 0 10px;
              background: rgb(160, 17, 12);
              border: none;
              height: 35px;
              cursor: pointer;
              color: white;
              border-radius: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 75px;
              margin-left: auto;
              flex-shrink: 0;
            }
          }
        }
        .add__btn {
          height: 30px;
          background: rgba(155, 155, 155, 0.3);
          border-radius: 5px;
          margin-top: 5px;
          display: flex;
          font-size: 14px;
          align-items: center;
          padding-left: 10px;
          color: white;
          cursor: pointer;
          span {
            font-size: 20px;
            margin-right: 10px;
            color: white;
          }
        }
      }
    }
  }
}

.hidden-state {
  display: none !important;
}

.shadow-item {
  background-color: rgba(0, 0, 0, 0.3);
}
