// backgrounds
$bg_header: rgba(0, 0, 0, 0.5);
$bg_clock: rgba(255, 255, 255, 1);
$bg_boards: rgba(0, 0, 0, 0.5);
$bg_todo_items: rgba(223, 219, 219, 1);
$bg_todo_items_btn_hover: rgb(161, 161, 161, 1);
$bg_boards_btn: rgba(155, 155, 155, 0.3);
$bg_boards_btn_hover: rgba(155, 155, 155, 0.4);
$bg_popup: rgba(0, 0, 0, 0.7);
$bg_popup_content: rgb(255, 255, 255, 1);
$bg_popup_btn_hover: rgba(155, 155, 155, 0.4);

// borders
$todo_items_btn_border: rgba(143, 125, 125, 0.4);
$popup_input_border: rgba(206, 212, 218, 1);
$popup_btn_border: rgba(143, 125, 125, 0.4);

// text colors
$text_white: rgb(255, 255, 255, 1);
